*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(circle at top,
                                #351027,
                                #10060e 55%,
                                #050205);
    color: white;
    overflow-x: hidden;
}

#floating-emojis{
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.floating-emoji{
    position: absolute;
    bottom: -60px;
    opacity: 0;
    animation: floatUp linear forwards;
    filter: drop-shadow( 0 0 8px rgba(255, 80, 150, 0.5));
}

@keyframes floatUp{
    0%{
        transform:translateY(0)        
        rotate(0deg);
        opacity: 0;
}
    10%{
        opacity: 0.7;
    }
    90%{
        opacity: 0.7;
    }
    100%{
        transform: translateY(-110vh)
        rotate(0deg);
        opacity: 0;
}
}

.screen{
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
    z-index: 1;
}

.screen.active{
    display: flex;
}

.glass{
    width: min(600px, 95%);
    padding: 45px 30px;
    text-align: center;
    background: rgba(20, 7, 18, 0.72);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 100, 160, 0.3);
    border-radius: 30px;
    box-shadow:  0 0 40px
                 rgba(255, 100, 0.15);
}

.small-heart{
    font-size: 60px;
    animation:heartbeat 1.5s infinite;
}

@keyframes heartbeat{
    50%{
        transform:
             scale(1.2);
    }
}

h1{
    font-size: clamp(30px, 6vw, 55px);
    color: #ff719f;
    text-shadow: 0 0 15px
                 rgba(255, 60, 130, 0.7);
}

.welcome-text{
    font-size: 22px;
    margin-top: 20px;
}

.sub-text{
    color: #add;
    line-height: 1.7;
    margin: 20px 0 30px;
}

button{
    border: none;
    padding: 15px 35px;
    border-radius: 40px;
    background: linear-gradient(45deg,#ff236e,#ff6f9f);
    color: white;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 0 20px               
                rgba(255, 40, 110, 0.5);
    transition: 0.3s;  
}

button:hover{
   transform: scale(1.08);
   box-shadow: 0 0 35px
               rgba(255, 40, 110, 0.8);
}

.quiz-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #ff8fb4;
}

.progress{
    width: 100%;
    height: 8px;
    background: #2a1721;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

#progressBar{
    height: 100%;
    width: 10%;
    background: #ff4f91;
    transition: 0.5s;
}

#questionCard{
    padding: 25px;
    border-radius: 25px;
    background: rgba(20, 10, 20, 0.75);
    backdrop-filter: blur(15px);
    border: 1px solid
            rgba(255, 100, 160, 0.3);
}

#question{
    font-size: 23px;
    margin: 20px o;
}

#questionImagecontainer img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 18px;
}

.option{
    width: 100%;
    padding: 15px;
    margin:10px o;
    background: rgba(255,255,255,0.05);
    border: 1px solid            rgba(255,255,255,0.15);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover{
    background:        rgba(255, 70, 130, 0.2);
    transform: 
        translateX(5px);
}

#feedback{
    text-align: center;
    font-size: 60px;
    min-height: 70px;
    margin-top: 15px;
}

.correct{
    animation: pop 0.5s;
}

.wrong{
    animation: shake 0.5s;
}

@keyframes pop{
    50%{
        transform: scale(1.5);
    }
}

@keyframes shake{
    25%{
        transform:
          translateX(-10px)
    }
    50%{
        transform: 
           translateX(10px); 
    }
    75%{
        transform:
          translateX(-10px)
    }
}

#qrcode{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 15px;
    background: white;
    width:fit-content;
    border-radius: 15px;
}

.qr-text{
    color: #ff9dbc;
}


.surprise-text {
    color: #ffb0c8;
    font-size: 18px;
    margin-bottom: 10px;
}

.rose {
    width: 180px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.rose:hover {
    transform: scale(1.08);
}

.rose.opening {
    animation: roseOpen 1.5s ease forwards;
}

@keyframes roseOpen {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}


/* Mobile */

@media(max-width:600px) {

    .rose-container h1 {
        font-size: 28px;
    }

    .rose {
        transform: scale(0.9);
    }
}

#finalScreen{
    bakground: radial-gradient(circle, rgba(255,20,100,0.2),rgba(0,0,0,0.95));
}

.final-box{
    text-align: center;
    padding: 30px;

}

.ring{
    font-size: 110px;
    animation: ringReveal 2s ease;
    filter: drop-shadow(0 0 20px gold);
}

@keyframes ringReveal{
    from{
        transform:
            scale(0)
            rotate(-180deg);
        opacity: 0;
        }
    to{
        transform:
            scale(1)
            rotate(0);
        opacity: 1;
    }
}

.forever{
    color: #ff80aa;
    font-size: 18px;
    margin-top: 20px;
}

.signature{
    margin: 30px 0;
    font-size: 22px;
    color: #ff719f;
}

.memories-box{
    max-width: 900px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap:20;
    margin-top: 30px;
}

.memory{
   background: rgba(255,255,255,0.05);
   padding: 10px;
   border-radius: 18px;
   transition: 0.4s;
}

.memory:hover{
    transform: 
        translateY(-8px)
        scale(1.02);
}

memory img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 14px;
}

.memory p{
    padding: 12px;
    color: #ffb0c8
}

.end-message{
    margin-top: 40px;
    color: #ff719f;
}

@media(max-width:600px){
    .glass{
        padding: 35px 20px;
    }
    h1{
        font-size: 32px;
    }
    #question{
        font-size: 20px;
    }
    .floating-emoji{
        font-size: 20px;
    }
    .rose-container h1{
        font-size: 28px;
    }
}
